[submodule "themes/jacman"]
	path = themes/jacman
	url = https://github.com/wuchong/jacman.git
[submodule "themes/raytaylorism"]
	path = themes/raytaylorism
	url = https://github.com/raytaylorlin/hexo-theme-raytaylorism.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/iissnan/hexo-theme-next.git
	branch = master
